body {
  font-size: 16px;
}
nav .logo {
  font-size: 1.5rem;
}
nav .nav .list li a {
  padding: 5px;
  margin: 0.7rem 0.3rem;
}

@media (max-width: 700px){
  nav {
    flex-direction: column;
    text-align: center;
    
  }
  nav .nav .list {
    justify-content: center;  
  }
  nav .logo {
    font-size: 2.5rem;
  }
}

@media (max-width: 628px){
  #footer ul {
    display: block;
    text-align: center;
  }
  #footer ul li {
    margin: 1rem 0rem;
  }
}